## 1.  내장함수

내장 함수는 외부 모듈과 달리 import가 필요하지 않음

### 1. abs

어떤 숫자를 입력받았을 때, 그 숫자의 절댓값을 돌려주는 함수

In [7]:
abs(3)

3

In [8]:
abs(-3)

3

In [9]:
abs(-1.2)

1.2

### 2. all

반복 가능한(iterable) 자료형 x를 입력 인수로 받으며<br>
이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 돌려줌<Br>
> 반복 가능한 자료형 : for 문으로 그 값을 출력할 수 있는 것<br>
    (리스트,튜플,문자열,딕셔너리, 집합 등)

In [11]:
all([1,2,3])

True

In [12]:
all([1,2,3,0])

False

In [14]:
all([])    # 빈 값의 경우 True 리턴

True

### 3. any

반복 가능한 자료형 x를 입력 인수로 받으며<br>
이 x의 요소 중 하나라도 참이 있으면 True, x가 모두 거짓일 때만 False를 돌려줌<br>
> all(x)의 반대

In [20]:
any([1,2,3])

True

In [16]:
any([0,""])

False

In [18]:
any([])    # 빈 값의 경우 False 리턴

False

### 4. chr

아스키(ASCII) 코드 값을 입력받아 그 코드에 해당하는 문자를 출력하는 함수

In [21]:
chr(97)

'a'

In [22]:
chr(48)

'0'

### 5. dir

객체가 자체적으로 가지고 있는 변수나 함수를 보여줌

In [23]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
dir({'1':'a'})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### 6. divmod

a를 b로 나눈 몫과 나머지를 튜플 형태로 돌려주는 함수

In [26]:
divmod(7,3)

(2, 1)

In [27]:
7 // 3    # 몫을 구하는 연산자

2

In [28]:
7 % 3    # 나머지를 구하는 연산자

1

### 7. enumerate

순서가 있는 자료형(리스트,튜플,문자열)을 입력으로 받아<br>
인덱스 값을 포함하는 enumerate 객체를 돌려줌<br>
> 보통 enumerate 함수는 for문과 함께 자주 사용

In [30]:
for i, name in enumerate(['body','foo','bar']):
    print(i, name)

0 body
1 foo
2 bar

### 8. eval

실행 가능한 문자열(1+2, 'hi' + 'a' 등)을 입력으로 받아 결과값을 돌려줌

In [1]:
eval('1+2')

3

In [2]:
eval("'hi'+'a'")

'hia'

In [3]:
eval('divmod(4,3)')

(1, 1)

### 9. filter

첫 번째 인수로 함수 이름, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 자료형을 받음<br>
>반복 가능한 자료형 인수가 함수에 입력되었을 때 반환 값이 참인 것만 돌려줌

In [4]:
def positive(x):
    return x > 0

print(list(filter(positive, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [5]:
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

### 10. hex

정수 값을 입력받아 16진수(hexadecimal)로 변환하여 돌려주는 함수

In [6]:
hex(234)

'0xea'

In [7]:
hex(3)

'0x3'

### 11. id

id(object)는 객체를 입력받아 객체의 고유 주소 값(레퍼런스)을 돌려주는 함수

In [8]:
a = 3
id(3)

140718890559328

In [9]:
id(a)

140718890559328

In [11]:
b = a
id(b)

140718890559328

In [12]:
id(4)

140718890559360

### 12. input

사용자 입력을 받는 함수, 매개 변수로 문자열을 주면 그 문자열은 프롬프트가 됨

In [16]:
a = input()

hi

In [17]:
a

'hi'

In [18]:
b = input("Enter: ")

Enter: hi

In [19]:
b

'hi'

### 13. int

문자열 형태의 숫자나, 소수점이 있는 숫자 등을 정수 형태로 돌려줌

In [23]:
int(3)

3

In [20]:
int('3')

3

In [22]:
int(3.4)

3

int(x,radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환해서 돌려줌

In [24]:
int('11',2)    # 2진수로 표현된 11

3

In [25]:
int('1A', 16)    # 16진수로 표현된 1A

26

### 14. isinstance

isinstance(object, class)는 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지 판단<br>
참이면 True, 거짓이면 False를 돌려줌

In [29]:
class Person: pass
a = Person()

isinstance(a, Person)

True

In [30]:
b = 3
isinstance(b, Person)

False

### 15. len

len(s)은 입력값 s의 길이(요소의 전체 개수)를 돌려주는 함수

In [32]:
len("python")

6

In [33]:
len([1,2,3])

3

In [34]:
len((1,'a'))

2

### 16. list

list(s)는 반복 가능한 자료형s를 입력받아 리스트로 만들어 돌려주는 함수

In [37]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [36]:
list((1,2,3))

[1, 2, 3]

list 함수에 리스트를 입력으로 주면 똑같은 리스트를 복사하여 돌려줌

In [41]:
a = [1,2,3]
b = list(a)
b

[1, 2, 3]

### 17. map

입력받은 자료형의 각 요소를 함수 f가 수행한 결과를 묶어서 돌려주는 함수 <br>
>map(f,iterable)은 함수(f)와 반복 가능한 자료형(iterable)을 입력으로 받음

In [2]:
def two_times(x):    # 함수 f 생성
    return x*2

In [14]:
two_times([2,4,6,8])

[2, 4, 6, 8, 2, 4, 6, 8]

In [15]:
list(map(two_times, [2,4,6,8]))

[4, 8, 12, 16]

In [17]:
list(map(lambda a: a*2, [2,4,6,8]))    # lamnbda를 사용해 간략히 표현

[4, 8, 12, 16]

### 18. max

인수로 반복 가능한 자료형을 입력받아 그 최댓값을 돌려주는 함수

In [19]:
max([1,2,3])

3

In [21]:
max("python")

'y'

### 19. min

인수로 반복 가능한 자료형을 입력받아 그 최솟값을 돌려주는 함수

In [23]:
min([1,2,3])

1

In [24]:
min("python")

'h'

### 20. oct

정수 형태의 숫자를 8진수 문자열로 바꾸어 돌려주는 함수

In [25]:
oct(34)

'0o42'

In [26]:
oct(12345)

'0o30071'

### 21. open

open(filename, [mode])은 파일 이름과 읽기 방법을 입력받아 파일 객체를 돌려주는 함수

mode|설명
---|---
w|쓰기 모드로 파일 열기
r|읽기 모드로 파일 열기
a|추가 모드로 파일 열기
b|바이너리 모드로 파일 열기

b는 w,r,a와 함께 사용<br>
>f = open("binary_file", "rb")

모드를 생략하면 기본값으로 읽기 모드 r 적용<br>
> fread1 = open("read_mode.txt",'r')<br>
> fread2 = open("read_mode.txt")

### 22. ord

문자의 아스키 코드 값을 돌려주는 함수, chr 함수와 반대

In [30]:
ord('a')

97

In [31]:
ord('0')

48

### 23. pow

pow(x,y)는 x 의 y 제곱한 결괏값을 돌려주는 함수

In [33]:
pow(2,4)

16

In [34]:
pow(3,3)

27

### 24. range

입력 받은 숫자에 해당하는 범위 값을 반복 가능한 객체로 만들어 돌려주는 함수<br>
> range([start], stop, [step])형태로 for문과 함께 자주 사용

인수가 하나일 경우

In [36]:
list(range(5))    # 시작 숫자가 없으면 0부터 시작

[0, 1, 2, 3, 4]

인수가 2개일 경우

In [38]:
list(range(5,10))    # 끝 숫자는 해당 범위에 포함되지 않음

[5, 6, 7, 8, 9]

인수가 3개일 경우

In [41]:
list(range(1,10,2))    # 마지막 인수는 숫자 사이의 거리

[1, 3, 5, 7, 9]

In [40]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### 25. round

숫자를 입력받아 반올림해 주는 함수

In [42]:
round(4.6)

5

In [43]:
round(4.2)

4

In [44]:
round(5.678,2)   # 두 번째 매개변수는 반올림하여 표시하고 싶은 소수점의 자리수

5.68

### 26. sorted

입력값을 정렬한 후 그 결과를 리스트로 돌려주는 함수<br>
> 리스트 자료형에도 sort함수가 있지만, 객체를 정렬할 뿐 결과를 돌려주지는 않음

In [46]:
sorted([3,1,2])

[1, 2, 3]

In [47]:
sorted(['a','c','b'])

['a', 'b', 'c']

In [48]:
sorted("zero")

['e', 'o', 'r', 'z']

In [49]:
sorted((3,2,1))

[1, 2, 3]

### 27. str

문자열 형태로 객체를 변환하여 돌려주는 함수

In [51]:
str(3)

'3'

In [52]:
str('hi')

'hi'

In [53]:
str('hi'.upper())

'HI'

### 28. sum

입력받은 리스트나 튜플의 모든 요소의 합을 돌려주는 함수

In [55]:
sum([1,2,3])

6

In [56]:
sum((4,5,6))

15

### 29. tuple

반복 가능한 자료형을 입력받아 튜플 형태로 돌려주는 함수

In [58]:
tuple("abc")

('a', 'b', 'c')

In [59]:
tuple([1,2,3])

(1, 2, 3)

In [61]:
tuple((1,2,3))   # 튜플이 입력되면 그대로 튜플로 돌려줌

(1, 2, 3)

### 30. type

입력값의 자료형이 무엇인지 알려주는 함수

In [62]:
type("abc")

str

In [64]:
type([])

list

In [65]:
type(open("test",'w'))

_io.TextIOWrapper

### 31. zip

동일한 개수로 이루어진 자료형을 묶어 주는 함수

In [66]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [68]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [69]:
list(zip("abc","def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]