## 1. 문자열 생성과 사용

In [1]:
"Hello World"

'Hello World'

In [2]:
'Python is fun'

'Python is fun'

In [3]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [4]:
'''Life is too short, You need python'''

'Life is too short, You need python'

### 문자열 안에 ' 포함시키기

In [5]:
food = "Python's favorite food is perl"

In [6]:
food

"Python's favorite food is perl"

In [7]:
food = 'Python's favrorite food is perl'

SyntaxError: invalid syntax (<ipython-input-7-29f4a94347f1>, line 1)

### 문자열 안에 " 포함시키기

In [8]:
say = '"Python is very easy." he says'

In [9]:
say

'"Python is very easy." he says'

### 백슬래시(\\)를 이용해 문자열 안에 ' 혹은 " 포함시키기

In [10]:
food = 'Python\'s favrorite food is perl'

In [11]:
food

"Python's favrorite food is perl"

In [12]:
say = "\"Python is very easy.\" he says."

In [13]:
say

'"Python is very easy." he says.'

### 여러 줄의 문자열을 변수에 대입

In [14]:
multiline = "Life is too short\nYou need python"

In [15]:
print(multiline)

Life is too short
You need python

In [16]:
print("Life is too short\tYou need python")

Life is too short	You need python

In [17]:
print("Life is too short\\You need python")

Life is too short\You need python

In [18]:
multiline = '''
Life is too short
You need python
'''

In [19]:
print(multiline)

Life is too short
You need python

## 2. 문자열 연산

### 문자열 연결 (Concatenation)

In [20]:
head = "Python"

In [21]:
tail = "is fun!"

In [22]:
head + tail

'Pythonis fun!'

### 문자열 곱하기

In [23]:
a = "python"

In [24]:
a * 2

'pythonpython'

In [25]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [26]:
a = "Life is too short"

In [27]:
len(a)  # 공백을 포함한 길이

17

## 3. 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱

In [28]:
a = "Life is too short, You need Python"

In [29]:
a[3]

'e'

In [30]:
a[0]

'L'

In [31]:
a[-1]

'n'

In [32]:
a[-5]

'y'

### 문자열 슬라이싱

In [33]:
a = "Life is too short, You need Python"

In [34]:
b = a[0] + a[1] + a[2] + a[3]

In [35]:
b

'Life'

In [36]:
a = "Life is too short, You need Python"

In [37]:
a[0:4]  # 슬라이싱의 끝번호는 포함하지 않음

'Life'

In [38]:
a[0:3]  # 0 <= a < 3

'Lif'

In [39]:
a[0:5]  # 공백도 문자와 동일하게 취급

'Life '

In [40]:
a[19:]  # 끝 번호 생략 시 문자열의 끝까지

'You need Python'

In [41]:
a[:]

'Life is too short, You need Python'

In [42]:
a[19:-7]  # a[19]부터 a[-8]까지

'You need'

### 슬라이싱으로 문자열 나누기

In [43]:
a = "20201104Rainy"

In [44]:
date = a[:8]  # 8을 포함하지 않음

In [45]:
weather = a[8:]

In [46]:
date

'20201104'

In [47]:
weather

'Rainy'

###  인덱싱과 슬리이싱 활용

In [48]:
a = "Pithon"

In [49]:
a[1]

'i'

In [50]:
a[1] = 'y'  # 문자열의 요솟값은 바꿀 수 없음

TypeError: 'str' object does not support item assignment

In [51]:
a = "Pithon"

In [52]:
a[:1]

'P'

In [53]:
a[2:]

'thon'

In [54]:
a[:1] + 'y' + a[2:]

'Python'

## 4. 문자열 포매팅 (Formatting)

### 숫자와 문자 대입

In [55]:
" I eat %d apples." %3  # %d 정수

' I eat 3 apples.'

In [56]:
"I eat %s apples." %"five"  # %s 문자열

'I eat five apples.'

In [57]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [58]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [59]:
"Error is %d%." %98

ValueError: incomplete format

In [61]:
"Error is %d%%." %98  # %d와 % 가 같이 있는 경우 %%로 사용

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용

In [62]:
"%10s" % "hi"  # 전체 길이가 10개인 문자열 공간에서 값을 오른쪽 정렬

'        hi'

In [63]:
"%10.4f" % 3.41234234 # 전체 길이가 10개인 문자열 공간에서 소수점 네자리만 표시

'    3.4123'

### format 함수를 사용해 대입하기

In [64]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [65]:
"I eat {0} apples".format("five")

'I eat five apples'

In [67]:
number = 10
day = "three"
" I ate {0} apples. so I was sick for {1} days.".format(number, day)

' I ate 10 apples. so I was sick for three days.'

In [68]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [69]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### format 함수를 사용해 정렬하기

In [76]:
"{0:<10}".format("hi")  # :<10 표현식은 문자열을 왼쪽 정렬하고 자리수를 10으로 맞춤

'hi        '

In [71]:
"{0:>10}".format("hi")

'        hi'

In [128]:
"{0:^10}".format("hi")

'    hi    '

### format 함수를 사용한 포매팅

In [129]:
"{0:=^10}".format("hi")

'====hi===='

In [130]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [131]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [132]:
"{{and}}".format()

'{and}'

### f 문자열 포매팅

In [77]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [78]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [80]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [82]:
f'{"hi":<10}'

'hi        '

In [83]:
f'{"hi":>10}'

'        hi'

In [84]:
f'{"hi":^10}'

'    hi    '

In [88]:
f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [86]:
f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [89]:
y = 3.42134234  # 소수점 4가지까지 표현하고 총 자리수를 10으로 맞춤
f'{y:10.4f}'

'    3.4213'

In [91]:
f'{{and}}'

'{and}'

## 5. 문자열 관련 함수

### 문자 개수 세기 : count()

In [93]:
a = "hobby"
a.count('b')

2

### 문자 위치 알려주기 : find(), index()

In [94]:
a = "Python is the best choice"
a.find('b')

14

In [96]:
a.find('k')  # find 함수는 찾는 문자가 존재하지 않으면 -1 반환

-1

In [97]:
a = "Life is too short"  
a.index('t')

8

In [105]:
a.index('k')  # index 함수는 찾는 문자가 존재하지 않으면 오류 반환

ValueError: substring not found

### 문자열 삽입 : join()

In [98]:
",".join('abcd')

'a,b,c,d'

In [106]:
",".join(['a','b','c','d'])  # 리스트나 튜플도 입력 가능

'a,b,c,d'

### 문자열 대소문자 변경 : upper(), lower()

In [101]:
a = "apple"
a.upper()

'APPLE'

In [102]:
a = "PINEAPPLE"
a.lower()

'pineapple'

### 문자열 공백 지우기 : strip()

In [108]:
a = "  hi  "
a. lstrip()

'hi  '

In [109]:
a = "  hi  "
a. rstrip()

'  hi'

In [103]:
a = "  hi  "
a. strip()

'hi'

### 문자열 바꾸기 : replace()

In [104]:
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

### 문자열 나누기 : split()

In [110]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [112]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']