## 1. 집합 생성

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello")  # 중복을 허용하지 않음
s2

{'H', 'e', 'l', 'o'}

## 2. 집합 특징

In [7]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [8]:
s[0] # 집합은 순서가 없기 때문에 인덱싱을 지원하지 않음

NameError: name 's' is not defined

In [ ]:
l1 = list(s1)
l1

In [9]:
li[0]  # 리스트나 튜플로 변경 후 인덱싱

1

## 3. 집합 연산

### 교집합

In [11]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [12]:
s1 & s2

{4, 5, 6}

In [14]:
s1.intersection(s2)

{4, 5, 6}

### 합집합

In [17]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [15]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

In [25]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [24]:
s1 - s2

{1, 2, 3}

In [26]:
s2 - s1

{7, 8, 9}

In [27]:
s1.difference(s2)

{1, 2, 3}

In [28]:
s2.difference(s1)

{7, 8, 9}

## 4. 집합 관련 함수

### 값 1개 추가 : add()

In [29]:
s1 = set([1, 2, 3])

In [30]:
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러 개 추가 : update()

In [31]:
s1 = set([1, 2, 3])

In [32]:
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거 : remove()

In [33]:
s1 = set([1, 2, 3])

In [34]:
s1.remove(2)
s1

{1, 3}